fastapi
gradio
huggingface_hub
ipython
langchain
langchain-community
langchain-core
langchain-openai
nltk
openai
pip
pydantic
python-dotenv
qianfan
Requests
transformers
websocket_client
zhipuai
chromadb
rapidocr-onnxruntime
pymupdf
unstructured
markdown
spark-ai-python
erniebot
pysqlite3-binary
